# 测试图列表文件存储路径
test_graph_list_path = "./test_graph_list.trace"
# 图数据存储路径
GRAPH_DATA_HOME = "/data"
# 标题行文件存储路径
title_v_path = "./titles/title_v.txt"
title_e_unweighted_path = "./titles/title_e_unweighted.txt"
title_e_weighted_path = "./titles/title_e_weighted.txt"
title_e_unweighted_reverse_path = "./titles/title_e_unweighted_reverse.txt"
title_e_weighted_reverse_path = "./titles/title_e_weighted_reverse.txt"
# neo4j数据库的url
neo4j_url = "neo4j://localhost:7687"
# neo4j的用户名
neo4j_user = "neo4j"
# neo4j的密码
neo4j_password = "987654321"