/Test-Framework-for-LDBC/GPU_CSR/build/
/Test-Framework-for-LDBC/GPU_CSR/data/
/Test-Framework-for-LDBC/GPU_CSR/results/

/Test-Framework-for-LDBC/CPU/build/
/Test-Framework-for-LDBC/CPU/data/
/Test-Framework-for-LDBC/CPU/results/

/Test-Framework-for-LDBC/Release/build/
/Test-Framework-for-LDBC/Release/data/
/Test-Framework-for-LDBC/Release/results/

/build/
/input.txt