# 测试图列表文件存储路径
test_graph_list_path = "./test_graph_list.trace"
# 图数据存储路径
GRAPH_DATA_HOME = "/data"
# 标题行文件存储路径
title_v_path = "./titles/title_v.txt"
title_e_unweighted_path = "./titles/title_e_unweighted.txt"
title_e_weighted_path = "./titles/title_e_weighted.txt"
title_e_unweighted_reverse_path = "./titles/title_e_unweighted_reverse.txt"
title_e_weighted_reverse_path = "./titles/title_e_weighted_reverse.txt"
# Arangodb数据库的url
arangodb_url = "http://localhost:8529"
# Arangodb的数据库名
arangodb_db = "rucgraph_new"
# Arangodb的用户名
arangodb_user = "root"
# Arangodb的密码
arangodb_password = "root"